<header>
	<h1><img src="https://images.vexels.com/media/users/3/152411/isolated/preview/4a22d435331dde73ae0f1cebbdbaacff-double-burger-icon-by-vexels.png"
			alt="icon" style=" height: 30px; width: 30px;">Eat Da Burger!</h1>
</header><!-- /header -->
<br>
{{!-- <img src="http://www.myiconfinder.com/uploads/iconsets/256-256-b030adac9955cf87d7abe3e5f2106d90.png" alt="icon"style=" height: 125px; width: 125px;" class="center"> --}}

<div class="wrapper">
	<div id="create-burger">
		{{!-- <form class="create-form"> --}}
		<form action="/" method="POST">
			<input id="burger_name" type="text" name="burger_name" placeholder="Type here">
			<button id="submit-btn" type="submit">submit</button>
		</form>
	</div>

	<section id="burgers-container">
		<div id="burgers-available">
			<h2>Burgers Available</h2>
			{{#each burgers}}
			{{#unless this.devoured}}
			<div class="burger">
				{{this.id}}. {{this.burger_name}}
				<form class="devour-burger-form" action="/{{id}}?_method=PUT" method="POST">
					<input type='hidden' name='devoured' value='true'>
					<button class="eat-btn">Devour It!</button>


				</form>

				{{!-- <span>{{id}}</span> {{burger_name}} 
				{{this.id}}. {{this.burger_name}} --}}
			</div>
			{{/unless}}
			{{/each}}
		</div>
		<div id="burgers-devoured">
			<h2>Devoured Burgres</h2>
			{{#each burgers}}
			{{#if this.devoured}}
			<div class="burger"><span>{{id}}</span> {{burger_name}} </div>
			{{/if}}
			{{/each}}
		</div>
	</section>
</div>